In [23]:
#import important lib
#load data
#Word Count
#Term Frequency
#NB Claasifier
#Result

In [ ]:
#import lib

In [70]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [71]:
#import data

In [72]:
data=pd.read_csv("bbctext.csv")
data.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [73]:
x=data['text']
y=data["category"]

In [135]:
x.shape

(2225,)

In [74]:
#Word Count:assign unique key to every words

In [75]:
vector=CountVectorizer()
vector.fit(x)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [76]:
x_tf=vector.transform(x)

In [77]:
#Tern Frequency:word appers within a text

In [78]:
from sklearn.feature_extraction.text import TfidfTransformer

In [79]:
vectorizer=TfidfTransformer()
vectorizer.fit(x_tf)
print("FrequencyOfAllFeature:"+str(vectorizer.idf_)+"\n\n")

FrequencyOfAllFeature:[6.76205138 2.51969741 8.01481435 ... 8.01481435 7.60934924 7.60934924]

In [80]:
x_tfidf=vectorizer.fit_transform(x_tf)

In [81]:
#NB

In [82]:
from sklearn.naive_bayes import MultinomialNB

In [83]:
clf=MultinomialNB().fit(x_tfidf,data.category)

In [84]:
pre=clf.predict(x_tfidf)

In [85]:
pre

array(['tech', 'business', 'sport', ..., 'entertainment', 'politics',
       'sport'], dtype='<U13')

In [92]:
from sklearn import metrics
print(metrics.classification_report(y, pre))

               precision    recall  f1-score   support

     business       0.98      0.99      0.98       510
entertainment       0.99      0.94      0.96       386
     politics       0.97      0.99      0.98       417
        sport       0.99      1.00      0.99       511
         tech       0.98      0.99      0.98       401

    micro avg       0.98      0.98      0.98      2225
    macro avg       0.98      0.98      0.98      2225
 weighted avg       0.98      0.98      0.98      2225

In [95]:
from sklearn.metrics import accuracy_score

In [96]:
print("Accuracy:",accuracy_score(y,pre))

Accuracy: 0.9815730337078652

In [129]:
test=pd.read_csv("bbcnewstest.csv")

test.drop(["ArticleId"],inplace=True,axis=1)
test.head()

                                                Text
0  qpr keeper day heads for preston queens park r...
1  software watching while you work software that...
2  d arcy injury adds to ireland woe gordon d arc...
3  india s reliance family feud heats up the ongo...
4  boro suffer morrison injury blow middlesbrough...

In [131]:
x1=test["Text"]
vector.fit(x1)
x1_tf=vector.transform(x1)
vectorizer.fit(x1_tf)
x1_tfidf=vectorizer.fit_transform(x1_tf)

In [140]:
x1_tfidf.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
pre=clf.predict(x1_tfidf)

In [1]:
#Shortcut through Pipeline

In [142]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB

In [144]:
text_clf=Pipeline([("vect",TfidfVectorizer()),
                   ("clf",MultinomialNB())])

In [145]:
text_clf.fit(x,y)
predicted=text_clf.predict(x1)

In [147]:
x1

0      qpr keeper day heads for preston queens park r...
1      software watching while you work software that...
2      d arcy injury adds to ireland woe gordon d arc...
3      india s reliance family feud heats up the ongo...
4      boro suffer morrison injury blow middlesbrough...
5      lewsey puzzle over disallowed try england s jo...
6      blair blasts tory spending plans tony blair ha...
7      former ni minister scott dies former northern ...
8      career honour for actor dicaprio actor leonard...
9      tsunami  to hit sri lanka banks  sri lanka s b...
10     us economy still growing says fed most areas o...
11     digital uk driven by net and tv the uk s adopt...
12     blunkett tells of love and pain david blunkett...
13     ibm puts cash behind linux push ibm is spendin...
14     cage film s third week at us top nicolas cage ...
15     souness backs smith for scotland graeme sounes...
16     ukip mep attacked german  empire  a uk indepen...
17     cheaper chip for mobiles a mobile phone chip w...
18     usher leads soul train shortlist chart-topping...
19     india to deport bollywood actress india has or...
20     bush budget seeks deep cutbacks president bush...
21     labour s core support takes stock tony blair h...
22     hodges announces rugby retirement scarlets and...
23     latin america sees strong growth latin america...
24     vouchers  to cut winter deaths  pensioners are...
25     captains lining up for aid match ireland s bri...
26     yukos heading back to us courts russian oil an...
27     wales get williams fitness boost wales are hop...
28     ireland v usa (sat) saturday 20 november  lans...
29     fiat chief takes steering wheel the chief exec...
                             ...
705    us consumer confidence up consumers  confidenc...
706    wilkinson to lead england fly-half jonny wilki...
707    triple triumph for little britain top tv cult ...
708    tory leader quits legal position david mcletch...
709    tautou  to star in da vinci film  french actre...
710    cash gives way to flexible friend spending on ...
711    economy focus for election battle britain s ec...
712    wall street cheers bush victory the us stock m...
713    more to do  on adult literacy the government w...
714    hearts 2-1 livingston hearts wrapped up their ...
715    slim playstation triples sales sony playstatio...
716    mobile networks seek turbo boost third-generat...
717    kinnock to urge reform in lords neil kinnock h...
718    famed music director viotti dies conductor mar...
719    chinese wine tempts italy s illva italy s illv...
720    speak easy plan for media players music and fi...
721    byrds producer melcher dies at 62 record produ...
722    buffy creator joins wonder woman the creator o...
723    sayeed to stand down as tory mp tory mp jonath...
724    tobacco giants hail court ruling us tobacco co...
725    green reports shun supply chain nearly 20% mor...
726    the memory driving brown s mission the memory ...
727    labour accused of broken pledge labour has alr...
728    pc photo printers challenge pros home printed ...
729    dogged federer claims dubai crown world number...
730    eu to probe alitalia  state aid  the european ...
731    u2 to play at grammy awards show irish rock ba...
732    sport betting rules in spotlight a group of mp...
733    alfa romeos  to get gm engines  fiat is to sto...
734    citizenship event for 18s touted citizenship c...
Name: Text, Length: 735, dtype: object

In [146]:
predicted

array(['sport', 'tech', 'sport', 'business', 'sport', 'sport', 'politics',
       'politics', 'entertainment', 'business', 'business', 'tech',
       'politics', 'tech', 'entertainment', 'sport', 'politics', 'tech',
       'entertainment', 'entertainment', 'business', 'politics', 'sport',
       'business', 'politics', 'sport', 'business', 'sport', 'sport',
       'business', 'politics', 'tech', 'business', 'business', 'sport',
       'sport', 'sport', 'business', 'entertainment', 'entertainment',
       'tech', 'politics', 'entertainment', 'tech', 'sport', 'tech',
       'entertainment', 'business', 'politics', 'business', 'politics',
       'business', 'business', 'business', 'tech', 'politics', 'tech',
       'entertainment', 'sport', 'tech', 'sport', 'entertainment', 'tech',
       'politics', 'business', 'entertainment', 'sport', 'tech', 'sport',
       'sport', 'tech', 'sport', 'business', 'politics', 'tech', 'sport',
       'tech', 'tech', 'tech', 'entertainment', 'politics', 'sport',
       'entertainment', 'entertainment', 'business', 'entertainment',
       'business', 'entertainment', 'business', 'tech', 'business',
       'politics', 'sport', 'tech', 'sport', 'sport', 'sport', 'sport',
       'sport', 'sport', 'politics', 'sport', 'business', 'entertainment',
       'business', 'sport', 'politics', 'sport', 'politics',
       'entertainment', 'sport', 'business', 'entertainment', 'sport',
       'politics', 'sport', 'politics', 'sport', 'politics', 'business',
       'entertainment', 'business', 'entertainment', 'entertainment',
       'tech', 'sport', 'business', 'entertainment', 'business',
       'entertainment', 'business', 'politics', 'politics', 'tech',
       'business', 'business', 'politics', 'tech', 'entertainment',
       'sport', 'business', 'tech', 'sport', 'entertainment', 'politics',
       'sport', 'sport', 'entertainment', 'entertainment', 'tech',
       'business', 'tech', 'politics', 'entertainment', 'sport', 'sport',
       'sport', 'sport', 'entertainment', 'tech', 'business', 'tech',
       'business', 'tech', 'business', 'tech', 'entertainment', 'tech',
       'tech', 'politics', 'business', 'politics', 'business', 'business',
       'entertainment', 'politics', 'tech', 'business', 'business',
       'tech', 'sport', 'politics', 'sport', 'politics', 'tech', 'tech',
       'politics', 'business', 'politics', 'tech', 'politics', 'business',
       'entertainment', 'sport', 'tech', 'tech', 'business', 'tech',
       'politics', 'business', 'sport', 'politics', 'business',
       'entertainment', 'business', 'business', 'sport', 'tech',
       'business', 'sport', 'entertainment', 'entertainment', 'sport',
       'entertainment', 'sport', 'tech', 'politics', 'entertainment',
       'sport', 'entertainment', 'sport', 'entertainment', 'politics',
       'business', 'tech', 'entertainment', 'business', 'politics',
       'business', 'tech', 'business', 'sport', 'politics', 'politics',
       'politics', 'politics', 'sport', 'business', 'politics',
       'politics', 'sport', 'politics', 'business', 'sport', 'tech',
       'business', 'politics', 'business', 'politics', 'business',
       'business', 'sport', 'tech', 'politics', 'entertainment', 'tech',
       'entertainment', 'tech', 'sport', 'sport', 'tech', 'sport',
       'sport', 'sport', 'entertainment', 'sport', 'politics', 'tech',
       'tech', 'sport', 'business', 'sport', 'business', 'sport',
       'entertainment', 'business', 'business', 'entertainment',
       'politics', 'business', 'sport', 'sport', 'tech', 'sport', 'sport',
       'entertainment', 'business', 'sport', 'tech', 'politics',
       'entertainment', 'business', 'business', 'politics', 'sport',
       'entertainment', 'politics', 'business', 'sport', 'sport', 'tech',
       'entertainment', 'sport', 'business', 'tech', 'business', 'sport',
       'politics', 'politics', 'entertainment', 'politics',
       'entertainment', 'politics', 'business', 'politics', 'tech',
       'business', 'sport', 'tech', 'entertainment', 'politics', 'sport',
       'politics', 'politics', 'tech', 'politics', 'sport', 'tech',
       'politics', 'tech', 'tech', 'entertainment', 'politics', 'tech',
       'politics', 'business', 'politics', 'sport', 'tech',
       'entertainment', 'entertainment', 'business', 'sport', 'tech',
       'tech', 'entertainment', 'tech', 'business', 'sport',
       'entertainment', 'tech', 'business', 'politics', 'tech', 'tech',
       'politics', 'politics', 'sport', 'business', 'tech', 'sport',
       'politics', 'politics', 'business', 'tech', 'sport', 'politics',
       'business', 'politics', 'politics', 'tech', 'entertainment',
       'business', 'business', 'sport', 'sport', 'sport', 'tech', 'tech',
       'politics', 'tech', 'tech', 'politics', 'business', 'sport',
       'sport', 'entertainment', 'entertainment', 'sport', 'tech', 'tech',
       'sport', 'tech', 'entertainment', 'politics', 'tech', 'sport',
       'business', 'politics', 'entertainment', 'business', 'tech',
       'sport', 'politics', 'business', 'business', 'politics', 'tech',
       'sport', 'sport', 'business', 'tech', 'business', 'tech', 'sport',
       'sport', 'politics', 'business', 'tech', 'sport', 'politics',
       'business', 'tech', 'tech', 'politics', 'tech', 'business',
       'politics', 'business', 'entertainment', 'business',
       'entertainment', 'politics', 'entertainment', 'sport', 'business',
       'politics', 'business', 'sport', 'entertainment', 'business',
       'entertainment', 'entertainment', 'sport', 'tech', 'entertainment',
       'tech', 'business', 'politics', 'entertainment', 'politics',
       'politics', 'sport', 'business', 'sport', 'politics',
       'entertainment', 'entertainment', 'business', 'business', 'sport',
       'politics', 'tech', 'tech', 'politics', 'business', 'sport',
       'sport', 'politics', 'sport', 'tech', 'business', 'politics',
       'sport', 'politics', 'tech', 'business', 'politics', 'tech',
       'politics', 'politics', 'entertainment', 'tech', 'sport', 'sport',
       'politics', 'business', 'tech', 'politics', 'sport', 'sport',
       'entertainment', 'business', 'entertainment', 'entertainment',
       'business', 'politics', 'sport', 'politics', 'tech', 'tech',
       'business', 'politics', 'sport', 'business', 'sport', 'business',
       'politics', 'business', 'sport', 'politics', 'tech', 'sport',
       'politics', 'business', 'tech', 'politics', 'sport', 'politics',
       'entertainment', 'sport', 'politics', 'business', 'business',
       'business', 'tech', 'politics', 'politics', 'sport', 'business',
       'tech', 'tech', 'tech', 'sport', 'tech', 'politics', 'business',
       'business', 'sport', 'business', 'politics', 'business', 'tech',
       'tech', 'sport', 'tech', 'business', 'sport', 'business',
       'business', 'business', 'politics', 'politics', 'entertainment',
       'entertainment', 'entertainment', 'politics', 'tech', 'tech',
       'politics', 'entertainment', 'business', 'sport', 'sport',
       'politics', 'entertainment', 'politics', 'sport', 'business',
       'business', 'business', 'entertainment', 'tech', 'sport',
       'business', 'politics', 'politics', 'tech', 'politics', 'sport',
       'politics', 'business', 'tech', 'business', 'sport', 'sport',
       'tech', 'sport', 'entertainment', 'tech', 'entertainment', 'tech',
       'sport', 'politics', 'business', 'tech', 'tech', 'politics',
       'entertainment', 'politics', 'business', 'business', 'tech',
       'business', 'business', 'business', 'sport', 'entertainment',
       'business', 'sport', 'business', 'sport', 'tech', 'business',
       'politics', 'sport', 'business', 'sport', 'sport', 'entertainment',
       'politics', 'tech', 'sport', 'business', 'sport', 'business',
       'sport', 'sport', 'politics', 'tech', 'business', 'tech',
       'business', 'sport', 'tech', 'business', 'entertainment',
       'business', 'entertainment', 'sport', 'tech', 'business',
       'business', 'business', 'politics', 'sport', 'entertainment',
       'tech', 'business', 'sport', 'entertainment', 'business',
       'entertainment', 'business', 'politics', 'sport', 'sport',
       'business', 'tech', 'sport', 'business', 'business', 'business',
       'business', 'business', 'entertainment', 'tech', 'sport',
       'politics', 'tech', 'politics', 'tech', 'sport', 'tech',
       'entertainment', 'business', 'business', 'politics', 'politics',
       'sport', 'sport', 'sport', 'entertainment', 'tech', 'politics',
       'entertainment', 'sport', 'sport', 'politics', 'tech', 'politics',
       'entertainment', 'sport', 'entertainment', 'sport', 'tech', 'tech',
       'sport', 'sport', 'business', 'tech', 'entertainment', 'business',
       'tech', 'business', 'business', 'sport', 'entertainment',
       'politics', 'entertainment', 'business', 'politics', 'business',
       'politics', 'sport', 'tech', 'tech', 'politics', 'entertainment',
       'business', 'tech', 'entertainment', 'entertainment', 'politics',
       'business', 'business', 'politics', 'politics', 'tech', 'sport',
       'business', 'entertainment', 'politics', 'business', 'politics'],
      dtype='<U13')

In [148]:
test["category"]=predicted

In [150]:
test.head(15)

                                                 Text       category
0   qpr keeper day heads for preston queens park r...          sport
1   software watching while you work software that...           tech
2   d arcy injury adds to ireland woe gordon d arc...          sport
3   india s reliance family feud heats up the ongo...       business
4   boro suffer morrison injury blow middlesbrough...          sport
5   lewsey puzzle over disallowed try england s jo...          sport
6   blair blasts tory spending plans tony blair ha...       politics
7   former ni minister scott dies former northern ...       politics
8   career honour for actor dicaprio actor leonard...  entertainment
9   tsunami  to hit sri lanka banks  sri lanka s b...       business
10  us economy still growing says fed most areas o...       business
11  digital uk driven by net and tv the uk s adopt...           tech
12  blunkett tells of love and pain david blunkett...       politics
13  ibm puts cash behind linux push ibm is spendin...           tech
14  cage film s third week at us top nicolas cage ...  entertainment