In [4]:
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB

In [13]:
train=pd.read_csv("bbctext.csv")
train.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [16]:
x=train['text']

y=train["category"]

In [17]:
text_clf=Pipeline([("vect",TfidfVectorizer()),
                   ("clf",MultinomialNB())])

In [18]:
text_clf.fit(x,y)
predicted=text_clf.predict(x)

In [8]:
from sklearn import metrics
print(metrics.classification_report(y, predicted))

               precision    recall  f1-score   support

     business       0.98      0.99      0.98       510
entertainment       0.99      0.94      0.96       386
     politics       0.97      0.99      0.98       417
        sport       0.99      1.00      0.99       511
         tech       0.98      0.99      0.98       401

    micro avg       0.98      0.98      0.98      2225
    macro avg       0.98      0.98      0.98      2225
 weighted avg       0.98      0.98      0.98      2225

In [10]:
from sklearn.metrics import accuracy_score
print("Accuracy:",accuracy_score(y,predicted))

Accuracy: 0.9815730337078652

In [24]:
test=pd.read_csv("bbcnewstest.csv")

test.drop(["ArticleId"],inplace=True,axis=1)
test.head()

                                                Text
0  qpr keeper day heads for preston queens park r...
1  software watching while you work software that...
2  d arcy injury adds to ireland woe gordon d arc...
3  india s reliance family feud heats up the ongo...
4  boro suffer morrison injury blow middlesbrough...

In [25]:
xtest=test["Text"]

In [26]:
predicttest=text_clf.predict(xtest)

In [22]:
test["category"]=predicttest

In [23]:
test.head(15)

                                                 Text       category
0   qpr keeper day heads for preston queens park r...          sport
1   software watching while you work software that...           tech
2   d arcy injury adds to ireland woe gordon d arc...          sport
3   india s reliance family feud heats up the ongo...       business
4   boro suffer morrison injury blow middlesbrough...          sport
5   lewsey puzzle over disallowed try england s jo...          sport
6   blair blasts tory spending plans tony blair ha...       politics
7   former ni minister scott dies former northern ...       politics
8   career honour for actor dicaprio actor leonard...  entertainment
9   tsunami  to hit sri lanka banks  sri lanka s b...       business
10  us economy still growing says fed most areas o...       business
11  digital uk driven by net and tv the uk s adopt...           tech
12  blunkett tells of love and pain david blunkett...       politics
13  ibm puts cash behind linux push ibm is spendin...           tech
14  cage film s third week at us top nicolas cage ...  entertainment