In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [46]:
data=pd.read_csv("cardata.csv")
data.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
Car_Name         301 non-null object
Year             301 non-null int64
Selling_Price    301 non-null float64
Present_Price    301 non-null float64
Kms_Driven       301 non-null int64
Fuel_Type        301 non-null object
Seller_Type      301 non-null object
Transmission     301 non-null object
Owner            301 non-null int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.2+ KB

In [51]:
data["Fuel_Type"]=pd.factorize(data["Fuel_Type"])[0]
data["Seller_Type"]=pd.factorize(data["Seller_Type"])[0]
data["Transmission"]=pd.factorize(data["Transmission"])[0]
data.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,0,0,0,0
1,sx4,2013,4.75,9.54,43000,1,0,0,0
2,ciaz,2017,7.25,9.85,6900,0,0,0,0
3,wagon r,2011,2.85,4.15,5200,0,0,0,0
4,swift,2014,4.60,6.87,42450,1,0,0,0

In [49]:
corr=data.corr()
corr

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
Year,1.000000,0.236141,-0.047584,-0.524342,0.053643,-0.039896,-0.000394,-0.182104
Selling_Price,0.236141,1.000000,0.878983,0.029187,0.509467,-0.550724,0.367128,-0.088344
Present_Price,-0.047584,0.878983,1.000000,0.203647,0.440415,-0.512030,0.348715,0.008057
Kms_Driven,-0.524342,0.029187,0.203647,1.000000,0.166801,-0.101419,0.162510,0.089216
Fuel_Type,0.053643,0.509467,0.440415,0.166801,1.000000,-0.352415,0.080466,-0.055705
Seller_Type,-0.039896,-0.550724,-0.512030,-0.101419,-0.352415,1.000000,-0.063240,0.124269
Transmission,-0.000394,0.367128,0.348715,0.162510,0.080466,-0.063240,1.000000,0.050316
Owner,-0.182104,-0.088344,0.008057,0.089216,-0.055705,0.124269,0.050316,1.000000

In [62]:
col=["Car_Name","Transmission","Year","Kms_Driven","Owner","Seller_Type","Selling_Price"]
x=data.drop(col,axis=1)
y=data['Selling_Price']

In [63]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=10)

In [72]:
from sklearn.linear_model import LinearRegression
linear=LinearRegression(n_jobs=4)

In [73]:
linear.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=4, normalize=False)

In [74]:
linear.score(xtest,ytest)

0.793694257695078

In [85]:
xtest.head()

     Present_Price  Fuel_Type
258          13.60          0
154           0.88          0
227           4.43          0
126           0.95          0
268           5.80          0

In [83]:
linear.predict(xtest)

array([ 6.93525223,  1.19764843,  2.79894509,  1.22922329,  3.41691028,
        6.68461556, 18.60187125,  1.1390094 ,  1.17058426,  3.95819366,
        1.17509496,  8.69638545,  3.86797976,  1.22922329,  5.80954077,
        6.98035918,  4.01683269,  1.03526342,  2.7899237 ,  5.04076041,
        1.22922329,  3.44848514,  4.63479788, 18.72366001,  1.05781689,
        1.0487955 ,  1.15569897,  1.1390094 ,  1.16156287,  1.05781689,
        2.67264563, 11.29905636,  3.86797976,  6.93525223,  1.24726607,
        6.62146584,  3.051544  ,  3.86346906,  1.86974196,  3.41691028,
        4.1837284 ,  1.16607357,  6.01703273,  1.03526342,  9.09783729,
        5.3114021 ,  1.03075272,  4.07998242,  9.19511033,  2.356897  ,
        1.2247126 ,  6.99840196,  1.17960565,  9.05273034,  4.04840755,
        2.42455742,  6.93525223,  1.47731151,  5.04076041,  8.01978123,
        4.22883534])

In [86]:
from sklearn.ensemble import RandomForestRegressor

In [87]:
r=RandomForestRegressor(n_estimators=21,n_jobs=2,random_state=10)

In [89]:
r.fit(xtrain,ytrain)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=21, n_jobs=2,
           oob_score=False, random_state=10, verbose=0, warm_start=False)

In [90]:
r.score(xtest,ytest)

0.8280293016752323

In [91]:
r.predict(xtest)

array([ 9.22356427,  0.7056746 ,  2.94228741,  0.53333333,  4.11325397,
        6.25750696, 20.75859977,  0.18642857,  0.52202381,  4.01174603,
        0.51210317,  9.82629252,  3.9652381 ,  0.53333333,  4.99960317,
        5.71882339,  4.8484127 ,  0.41003912,  2.94228741,  5.82464626,
        0.53333333,  4.65253968,  6.26746032, 20.75859977,  0.26534014,
        0.4693254 ,  0.47170635,  0.18642857,  0.61468254,  0.26534014,
        2.73587302, 10.62380952,  3.9652381 ,  9.22356427,  0.53083333,
        6.25750696,  2.61130952,  3.74515873,  0.98730159,  4.11325397,
        4.26746032,  0.62761905,  5.39404762,  0.41003912, 10.06547619,
        6.13722222,  0.34580442,  2.76428571,  6.11781746,  2.71428571,
        0.51809524,  5.71882339,  0.61505915, 10.33367347,  2.76428571,
        2.71428571,  9.22356427,  1.19885185,  5.82464626,  4.76642857,
        5.4468254 ])