In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("Womens Clothing E-Commerce Reviews.csv")
data.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [4]:
data.isnull().sum()

Unnamed: 0                    0
Clothing ID                   0
Age                           0
Title                      3810
Review Text                 845
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                14
Department Name              14
Class Name                   14
dtype: int64

In [5]:
data.dropna(axis=0,inplace=True)

In [6]:
x=data["Review Text"]
y=data["Rating"]

In [7]:
x.isnull().sum()

0

In [8]:
y.isnull().sum()

0

In [9]:
x.head()

2    I had such high hopes for this dress and reall...
3    I love, love, love this jumpsuit. it's fun, fl...
4    This shirt is very flattering to all due to th...
5    I love tracy reese dresses, but this one is no...
6    I aded this in my basket at hte last mintue to...
Name: Review Text, dtype: object

In [10]:
y.head()

2    3
3    5
4    5
5    2
6    5
Name: Rating, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=10)

In [12]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB

In [13]:
text_clf=Pipeline([('vect',TfidfVectorizer()),('clf',MultinomialNB())])

In [14]:
text_clf.fit(xtrain,ytrain)
predicted=text_clf.predict(xtest)

In [16]:
xtest

15648    Picked this darling vest in a medium. i have b...
4967     I just received this in the mail today and hav...
23297    Love the way these pants fit. love the length....
7617     This blouse is the definition of how to wear p...
6271     This top is so soft and with a henley neck ope...
929      An interesting design in a high-quality garmen...
414      Love this tunic, it's super comfy & cute. i ha...
8221     Interestingly, the description said this was b...
16776    I had been searching for an almost 50s style d...
3250     This caught my eye straight away and it hasn't...
4559     I got the dark blue print which is a really pr...
10366    I was really hoping that this dress would fit ...
9        I'm 5"5' and 125 lbs. i ordered the s petite t...
21817    This looked more fitted on the model. the xs w...
10695    Fabulous dress!\r\nclip off the tags because t...
13512    This jumpsuit is great! i finally found a jump...
12794    I would not have tried this on or ordered it b...
19045    Love this piece. can be worn casual or fancy. ...
10229    This vest is the best!! even though it has no ...
10795    I ordered the xxs because it seems like a flow...
22493    The photo misrepresents how large this sweater...
18284    The fabric is very light weight, more of a shi...
18493    I had this in my wish list a long time, ten wh...
23039    I tried this on when i saw it hanging in the d...
20785    I bought the black version of this dress. look...
14060    Oh how i love this dress! i was pleasantly sur...
578      Was drawn to this dress in the store. my locat...
5813     I so wanted to keep this, but the xs was even ...
17223    Unfortunately, i will need to exchange for a b...
8360     I am 5ft 8in and about 140lbs-athletic busty b...
                               ...
16240    I thought this top had shimmery dots, that is ...
16783    This is all around, a pretty feminine take on ...
10238    This si=hirt actually has a shimmer to the fab...
22988    I love the lace on this top, it's perfect. it'...
16468    This sweater is substantial, well-made, fabric...
13551    I'm 5 9 with a slender build but have always f...
10942    I love this dress. i get so many compliments f...
2295     Perfect fit, great material, torn in just the ...
16092    Love this zip cardigan with removable faux fur...
2859     ...the print is so sharking, and i love the wa...
7871     I bought this dress on super sale and it was s...
17758    This is a very sexy suit. it took some time to...
16439    I am 5'2" and 125 pounds and wear a 4p. i orde...
13631    Unlike the other two reviews , i found this dr...
17259    This top is my new favorite. i thought it migh...
13191    This dress is so flattering and comfortable. i...
3619     I ordered this dress in both a petite xs and r...
21661    I couldn't be happier with this skirt! i was e...
19135    I'm usually a 12, or size l in retailer and wh...
17564    Dress is pretty, i was disappointed by the sli...
4625     If you haven't yet joined the jumpsuit bandwag...
21698    I love the flowy-beachy look of this jumpsuit,...
8437     This dress is truly a no brainer purchase! it ...
10029    I am a huge fan of pilcro pants, and was so ex...
17998    Love this dress. i'm wearing it as a bridesmai...
1155     I tried this jumpsuit on in the store and love...
11879    I ordered this online and was surprised to see...
7864     Just got this and i haven't taken it off all n...
10585    This top is really comfortable but dressy enou...
9462     Haven't seen a top as fun and unique as this w...
Name: Review Text, Length: 3933, dtype: object

In [17]:
ytest

15648    4
4967     5
23297    5
7617     5
6271     5
929      5
414      5
8221     5
16776    5
3250     5
4559     4
10366    3
9        5
21817    4
10695    5
13512    5
12794    5
19045    5
10229    5
10795    5
22493    1
18284    5
18493    4
23039    4
20785    4
14060    5
578      3
5813     4
17223    5
8360     5
        ..
16240    3
16783    4
10238    4
22988    5
16468    5
13551    5
10942    5
2295     5
16092    5
2859     3
7871     3
17758    4
16439    5
13631    2
17259    5
13191    5
3619     5
21661    5
19135    3
17564    2
4625     5
21698    5
8437     5
10029    3
17998    5
1155     5
11879    3
7864     5
10585    5
9462     5
Name: Rating, Length: 3933, dtype: int64